/*
From style guide:
    primary color: #03a3df
    secondary colors: #1b447f, #ecb722, #444444

    typography:
        h1: Arial bold 40px
        h2: Arial bold 24px
        h3: Arial bold 17px
        body: Arial Regular 17px
        call-outs & quotes: Arial Regular 30px #03a3df on light background

    see front-end-styleguide.pdf for header/footer layout
*/

* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    width: 85%;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.class-container {
    display: grid;
    gap: 15px;  
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto auto;
    background-color: lightcyan;
    grid-auto-rows: 1fr;
    grid-auto-columns: 2fr 3fr;
}
[class^="class"] {
    display: grid;
    outline: 2px blue dashed;
    justify-content: center;
    padding: 10px;
}

.class-header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}
.class-descriptions {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}
.class-sidebar{
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
}
.class-footer {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}

/* font styles, defined by styleguide */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
}
blockquote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #03a3df;
}

/* header */
header li {
    display: inline;
    text-decoration: none;
    color: #1b447f;
}
header a {
    text-decoration: none;
    color: #1b447f;
}
header a:hover {
    text-decoration: none;
    color: #ecb722;
}
header img {
    
}

/* footer */
footer li {
    display: inline;
    text-decoration: none;
    color: #1b447f;   
}
footer a {
    text-decoration: none;
    color: #1b447f;   
}
footer a:hover {
    text-decoration: none;
    color: #ecb722;
}
img {
    width: 100%;
}

video {
    max-width: 100%;
}
.instructor-img {
    max-width: 200px;
    justify-self: center;
}
.instructor-spotlight {
    padding: 20px;
    text-align: center;
}