/*
From style guide:
    primary color: #03a3df
    secondary colors: #1b447f, #ecb722, #444444

    typography:
        h1: Arial bold 40px
        h2: Arial bold 24px
        h3: Arial bold 17px
        body: Arial Regular 17px
        call-outs & quotes: Arial Regular 30px #03a3df on light background

    see front-end-styleguide.pdf for header/footer layout
*/

* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    width: 85%;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.class-container {
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 175px 1fr 175px;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}
.class-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.class-descriptions {
    grid-area: 2 / 2 / 3 / 3;
}
.class-footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.flex-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.footer-flex-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.flex-item {
    justify-content: center;
}
.logo {
    flex: 50%;
    max-width: 225px;
    flex-basis: 0;
    padding: 0 0 0 15px;
    align-items: start;
}
.nav {
    display: flex;
    flex-basis: 0;
    padding: 0 15px 0 0;
    text-align: end;
}
.nav-link {
    display: inline-block;
    padding: 0 10px 0 10px;
    align-items: center;
    justify-content: space-between;
}
header {
    background-image: url("../images/footerImage.jpg");
    color: white;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    color: #ecb722;
}
footer {
    background-image: url(../images/footerImage.jpg)
}
footer h2 {
    color: white;
}
footer p {
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color: #ecb722;
}
.copyright {
    font-size: 12px;
}
.nondiscrimination {
    font-style: italic;
}
/* font styles, defined by styleguide */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
}
blockquote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #03a3df;
}
img {
    width: 100%;
}
.class-name {
    font-weight: bold;
}
figure {
    display: inline-block;
}
figure video {
    vertical-align: top;
}
figure figcaption {
    font-style: italic;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}
.video {
    align-items: center;
    justify-content: center;
    text-align: center;
}
hr {
    border-top: 1px solid #03a3df;
    width: 75%;
    margin: 50px 100px;
}